#--------------------------#
#  CMake Specific Ignores  #
#--------------------------#
compile_commands.json

#--------------------------#
#  General Build Ignores   #
#--------------------------#
out/
bin/
lib/

#---------------------------#
#  Clangd Specific Ignores  #
#---------------------------#
.cache/

#-----------------#
#  Other Ignores  #
#-----------------#
imgui.ini
.vscode/
.DS_Store
